<br>
<h1 class="h1">Question Feed</h1>
<br>
<table class="table table-bordered table-hover">
  <tr>
    <th>Question Title</th>
    <th>Asked By</th>
    <th>View Question</th>
  </tr>
 
  <% @questions.each do |question| %>
    <tr>
      <td><%= question.title %></td>
      <td><%= question.askedby %></td>
      <td><button class="btn btn-success"><%= link_to 'View', question_path(question) %></button></td>
      
    </tr>
  <% end %>
</table>
<br>