<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>KyuOverflow :: Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/font-awesome.css" rel="stylesheet">   <!-- font-awesome icons -->
<!-- //Custom Theme files -->
<!-- web font -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'><!--web font-->
<!-- //web font -->

<%= stylesheet_link_tag "formstyle" %>


</head>
<body style="background: url(../../assets/1.jpg)repeat 0px 0px;"">
<% flash.each do |key, value| %>
      <div class="<%= flash_class(:error) %>">
            <%= devise_error_messages! %>
      </div>
<% end %>

  <!-- main -->
  <%= yield %>
  <!-- //main -->
  <!-- copyright -->
  
  <!-- //copyright -->
  <!-- js -->  
  <script src="js/superplaceholder.js"></script>
  <script>
  superplaceholder({
      el: input1,
      sentences: [ '', 'lorem.ipsum55', 'example@name2' ],
      options: {
        loop: true,
        startOnFocus: false
      }
    })
    superplaceholder({
      el: input2,
      sentences: [ '', '.....', '.....' ],
      options: {
        loop: true,
        startOnFocus: false 
      }
    })
  </script>
  <!-- //js --> 
</body>
</html>